<p><%= link_to 'Add a photo', new_photo_path %></p>

<% if @photos.any? %>
	<% @photos.reverse.each do |photo| %>
		<section class="photo">
			<p>
				<%= image_tag(photo.image.url(:large)) %><br>
				<%= photo.caption %> <span class="likes_count"><br>  
				<%= photo.likes.count %></span> likes
				<%= link_to 'Like', photo_likes_path(photo), class: 'likes-link' %> 
			</p>
			<%= link_to 'Edit caption', edit_photo_path(photo) if can?(:update, photo) %><br>
			<%= link_to 'Delete photo', photo_path(photo), method: :delete if can?(:destroy, photo) %></p>
		</section>
	<% end %>
<% else %>
	No photos (yet).
<% end %>