<!DOCTYPE html>
<html>
	<head>
	  <title>Instachegram</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<a href="/"><img id="banner" src="/images/banner.jpg"></a>
		</header>
		
		<section id="nav_links">
			<% if user_signed_in? %>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'user_links' %>
			<% else %>
				<%= link_to "Sign in", new_user_session_path, class: 'user_links' %> | 
				<%= link_to "Sign up", new_user_registration_path, class: 'user_links' %> | 
<!-- 				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: 'user_links' %> -->
			<% end %>
		</section>
		<h2>Welcome to Instachegram</h2>
		<h4>A photo-sharing social media site for mustaches</h4>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<p class="error"><%= flash[:error] %></p>
	

		<%= yield %>

	</body>
</html>
